html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  /* margin: auto;
  max-width: 38rem;
  padding: 2rem; */
}

.CodeMirror {
  flex: 1;
}
